<!DOCTYPE html>
 {% extends 'app/base.html'%}
 {%block body_block%}
 <h1>New Employee</h1>



 <table class="table table-borderless">
  


 <form method="post">
   <table class="table table-borderless" >
     
     {{form.as_table}}

     
   </table>

   {%csrf_token%}
   <br>
   <input type="submit" class="btn btn-success" value="Submit">
   <a href='https://manasajami.herokuapp.com/' class="btn btn-success">List</a>
  </form> 

 <div ng-app="myApp" ng-controller="MyController">
  <div ng-if=[[res]]>
    <h5 class=[[classStyle]] role="alert" id="alt">[[msg]]</h5>
  </div>
</div>
<script>
  var myApp = angular.module("myApp", []);
      myApp.config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
      });
      myApp.controller("MyController", ["$scope", function($scope) {
      $scope.msg = "{{msg}}";
      $scope.classStyle = "{{classStyle}}";
      $scope.res = "{{res}}"
      setTimeout(function(){ document.getElementById("alt").style.display = 'none'       
    }, 1000);
      }]);
  </script>
 {%endblock%}
